.header {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 48px;
  pointer-events: none;

  &__logo {
    a {
      display: block;
      width: 146px;
      height: 78px;
      background: url("../images/desktop/logo_white.png") no-repeat center center / cover;
      transition: transform 0.2s ease-in-out;
      pointer-events: auto;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__nav {
    padding-top: 6px;
  }

  &__link-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    display: block;
    width: 64px;
    height: 64px;
    background-image: url("../images/desktop/sns.png");
    background-position-y: bottom;
    pointer-events: auto;

    &:hover {
      background-position-y: top;
    }

    &:nth-child(2) {
      background-position-x: -72px;
    }

    &:nth-child(3) {
      background-position-x: -144px;
    }

    &:nth-child(4) {
      background-position-x: -216px;
    }
  }

  &__today {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 18px;
    pointer-events: auto;

    input,
    label {
      cursor: pointer;
    }

    input[type="checkbox"] {
      width: 28px;
      height: 18px;
      background: url("../images/desktop/check.png") no-repeat;
      appearance: none;
    }

    input[type="checkbox"]:checked {
      background-image: url("../images/desktop/check_on.png");
    }
  }
}

.quick {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 170px;
  margin-left: 60px;
  transform: translate(0, -370px);
  z-index: 1;

  a,
  button {
    width: 170px;
    height: 136px;
    background: url("../images/desktop/quick_menu.png") no-repeat;

    &.active,
    &:hover {
      background-position-x: -181px;
    }
  }

  .quick-1 {
    background-position: 0 0;
  }

  .quick-2 {
    background-position: 0 -141px;
  }

  .quick-3 {
    background-position: 0 -282px;
  }
}
