@use "breakpoints" as *;

.hero {
  position: relative;
  height: calc(910px - 80px);
  min-height: calc(910px - 80px);
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  &__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      //display: block;
    }
  }

  &__bg-mo {
    display: none;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: var(--inner-width);
    margin: 0 auto;
    height: 100%;
  }

  &__content-inner {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 80px;
  }
  &__title {
    transform: translateX(-60px);
  }

  &__desc {
    display: none;
  }

  &__today {
    position: absolute;
    right: 64px;
    bottom: 40px;
    z-index: 2;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
  }

  &__today-btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 8px;
    margin-top: 26px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
  }

  &__today-check {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 0 100px transparent;
    &:checked + .hero__today-check-icon {
      background:rgba(234, 234, 234, 1) url("../images/hero_today_check.png") no-repeat center;
    }
  }

  &__today-btn-label {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
  }

  &__today-check-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(98, 98, 98, 1);
    background-color: rgba(234, 234, 234, 1);
  }

  &__today-btn-text {
    cursor: pointer;
    font-size: 16px;
    color: rgba(234, 234, 234, 1);
  }
  
}
 
.hero__title {
  &-mo {
    display: none;
  }
}
@include laptop {
  .hero {
    .hero__title{
      transform: translateX(0);
    }
  }
}
@include tablet {
  .hero {
    height: auto;
    min-height: inherit;
    &__bg-pc {
      display: none;
    }

    &__bg-mo {
      display: block;
    }
    &__bg{
      position: static;
      img{
        position: static;
        width: 100%;
      }
    }

    &__content {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      &-inner{
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 50px;
        width: 100%;
        text-align: center;
        align-items: center;
        
      }
    }
    &__title {
      transform: translateX(0);
      text-align: center;
      &-pc {
        display: none;
      }
      &-mo {
        display: block;
        max-width: 100%;
      }
    }

    &__desc{
      text-align: center;
      display: block;
      text-align: center;
    }
    &__today {
      right: 20px;
      bottom: 19px;
      left: 50%;
      right: inherit;
      transform: translateX(-50%);
      justify-content: center;
      .hero__footer-btn{
        display: none;
      }
    }

    &__today-btn {
      max-width: 100%;
      padding: 0;
      box-shadow: none;
      background: none;
      border: 0;
      gap: 8px;
    }

    &__today-check {
      width: 18px;
      height: 18px;
      border-radius: 5px;

      &.is-checked::after {
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
      }
    }

    &__today-btn-text {
      font-size: 12px;
      line-height: 16px;
      white-space: normal;
      text-align: left;
    }
  }
}
