@use "../breakpoints" as *;
@use "../mixins" as *;

// EVENT1 · 패널 + 배경
.event01-bg {
  position: relative;
  padding-bottom: 100px;
  @include multiply-vignette-bg("../images/event01_bg.svg");
}

.event01 {
  .event01__panel {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: var(--inner-width);
    margin: 0 auto;
    padding: 30px 32px;
    box-sizing: border-box;
    background: rgba(28, 34, 47, 0.5);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.05);
  }

  .sec-head {
    gap: 16px;
    margin-bottom: 30px;
  }
}

@include laptop-only {
  .event01 .event01__panel {
    max-width: 100%;
    width: 100%;
    padding: 24px 20px;
  }
}

@include laptop {
  .event01 .event01__panel {
    gap: 30px;
    background: none;
    box-shadow: none;

    .notice-wrap {
      margin-top: -20px;
    }
  }
}

@include tablet {
  .event01-bg {
    padding-bottom: 60px;
  }

  .event01 .event01__panel {
    max-width: 100%;
    width: 100%;
    padding: 0;
    gap: 30px;
  }
}

@include mo {
  .event01 {
    .sec-head {
      margin-bottom: 20px;
    }

    &-bg {
      @include multiply-vignette-bg("../images/event01_bg_mobile.png", center top, 100% auto);
    }

    .event01__panel {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      background: transparent;
      box-shadow: none;
    }
  }
}
