@use "../breakpoints" as *;

// EVENT1 · 메달 발급
.medal-issue {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:40px 0 0;
  width: 100%;
  &__visual {
    width: 50%;
  }

  &__medal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__ring { 
    width: 215px;
    height: 223px;
    background: url("../images/medal_ring.png") no-repeat center center;
    pointer-events: none;
  }

  &__action {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 50%;
  }

  &__desc {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: var(--white);

    em {
      color: #ffe28f;
      font-style: normal;
    }
  }
  &__note {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #fff;
  }
}

@include laptop {
  .medal-issue__phase{
    background: rgba(28, 34, 47, 0.50);
    display: flex;
    padding: 20px 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    .medal-issue{
      padding-top: 0;
    }
  }
}

@include tablet {
  .medal-issue {
    flex-direction: column;
    gap: 20px;
    min-height: 0;
    padding: 0 16px;
    padding-top: 0;
    padding-bottom: 0;

    &__visual,
    &__action {
      width: 100%;
    }

    &__medal {
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }

    &__ring {
      width: 200px;
      height: 200px;
      background-size: contain;
    }

    &__lock {
      width: 68px;
    }

    &__desc{
      font-size: 16px;
      line-height: 24px;
    }

    .btn--gold-issue {
      width: 100%;
      min-width: 0;
      padding: 14px 24px;
      font-size: 16px;
    }
  }
}

@include mo {
  .medal-issue {
    &__desc {
      font-size: 13px;
      line-height: 18px;
    }
    &__ring{
      width: 188px;
      height: 188px;
    }
    &__action{
      gap:12px;
    }
    &__note{
      font-size: 11px;
      font-weight: 500;
      line-height: 15px;
    }
  }
  
  
}