@use "../breakpoints" as *;
@use "../mixins" as *;

// EVENT1 · 패널 + 배경 (스텝/phase 1~4 → event01_0N_bg.png)
.event01-bg {
  position: relative;
  padding-bottom: 100px;
  @include multiply-vignette-bg("../images/event01_01_bg.png");
  //background-size: cover;

  &--1 {
    @include multiply-vignette-bg("../images/event01_01_bg.png");
    //background-size: cover;
  }

  &--2 {
    @include multiply-vignette-bg("../images/event01_02_bg.png");
    //background-size: cover;
  }

  &--3 {
    @include multiply-vignette-bg("../images/event01_03_bg.png");
    //background-size: cover;
  }

  &--4 {
    @include multiply-vignette-bg("../images/event01_04_bg.png");
    //background-size: cover;
  }
}

.event01 {
  .event01__panel {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: var(--inner-width);
    margin: 0 auto;
    padding: 30px 32px;
    box-sizing: border-box;
    background: rgba(28, 34, 47, 0.5);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.05);
  }
  .sec-head {
    margin-bottom: 30px;
  }
}

@include laptop-only {
  .event01 .event01__panel {
    max-width: 100%;
    width: 100%;
    padding: 24px 20px;
  }
}

@include laptop {
  .event01 .event01__panel {
    gap: 30px;
    //background: none;
    //box-shadow: none;

    .notice-wrap {
      margin-top: -20px;
    }
  }
}

.mobile-background{
  display: none;
}
@include tablet {
  .event01{
    position: relative;
    &__panel{
      background: none;
      box-shadow: none;
    }
    .mobile-background{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      img{
        width: 100%;
        height: 100%;
        //object-fit: cover;
      }
    }
    &-bg {
      padding-bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.6) 36.65%, rgba(255, 255, 255, 0) 100%) !important;
    }
  }

  .event01 .event01__panel {
    max-width: 100%;
    width: 100%;
    padding: 0;
    gap: 30px;
    background: none;
    box-shadow: none;
  }
}

@include mo {
  .event01 {
    .sec-head {
      margin-bottom: 20px;
    }
    .event01__panel {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      background: transparent;
      box-shadow: none;
    }
  }
}
